@media screen and (min-width: 1050px) {
     :root {
        --blue-color: #00296b;
        --yellow-color: #ffd500;
    }
    /*Navigation*/
    nav {
        width: 100%;
        height: 55%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--blue-color);
    }
    nav h1 {
        color: var(--yellow-color);
        font-size: 50px;
        text-align: center;
    }
    .links {
        width: 100%;
        display: flex;
        margin-top: 100px;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul {
        list-style: none;
        margin-left: -50px;
    }
    nav ul li {
        color: var(--yellow-color);
        font-size: x-large;
    }
    nav ul li a {
        text-decoration: none;
        display: inline-block;
        position: relative;
        color: var(--yellow-color);
    }
    nav ul li a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--yellow-color);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    nav ul li a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    /*Main*/
    main {
        position: absolute;
        top: 55%;
        width: 100%;
    }
    .mon h1 {
        text-align: center;
        color: var(--blue-color)
    }
    .mon ul li {
        list-style: none;
        color: var(--blue-color);
        display: flex;
        flex-direction: row;
    }
    .mon ul li h3 {
        margin-right: 20px;
    }
    .vr {
        position: fixed;
        height: 100%;
        top: 0;
        width: 3px;
        left: 70px;
        position: fixed;
        background-color: var(--blue-color);
        border: 0;
    }
    .per-link {
        text-decoration: none;
        color: var(--blue-color);
    }
    .per-link:hover {
        text-decoration: underline;
    }
    #closebtn {
        display: none;
    }
    #openbut {
        display: none;
    }
    .main-text {
        display: none;
    }
}
